/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

main {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 10px;
}

input {
    padding: 8px;
    margin-bottom: 15px;
}

input[type="radio"],
input[type="checkbox"] {
    display: inline-block; 
    vertical-align: middle; 
    margin-right: 5px; 
}

label {
    display: inline-block; 
    vertical-align: middle; 
    text-align: left; 
    margin-bottom: 5px; 
    line-height: 1.5; 
}


.required-field {
    font-size: 0.9em; 
    color: red;
}

.optional-field {
    font-size: 0.9em; 
    color: blueviolet;
}


button {
    background-color: #d34bc8;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #d34bc8;
}

.fontawesome {
    font-size: 1.15rem;
    color: #d34bc8;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
visibility: hidden;
width: 200px;
background-color: #333333;
color: #f8f8f8;
font-size: 1.15rem;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
border-radius: 6px;
padding: 15px;

/* Position the tooltip text */
position: absolute;
z-index: 1;
top: 100%;
left: 50%;
margin-left: -100px;
}

.tooltip:hover .tooltiptext {
visibility: visible;
}